.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .course {
    display: flex;
    margin-bottom: 40px;
  }
  
  .course img {
    width: 170px;
    height: 150px;
    object-fit: cover;
    margin-right: 100px;

  }
  
  .course-info {
    flex-grow: 1;
  }
  
  .course-info h2 {
    font-size: 32px;
    margin-top: 0;
  }
  
  .course-info p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .course-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
  }
  
  .course-info li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .course-info strong {
    font-weight: bold;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .btn:hover {
    background-color: #0062cc;
  }
  